html,
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 15px;
    font-weight: normal;
    line-height: 1.5;
    color: #2C2C2C;
    text-align: left;
    background-color: #fff;
    letter-spacing: -.01em;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 1.4;
    font-weight: 500;
    color: #272727;
    letter-spacing: -0.01em;
}

.text-gray-soft {
    color: #838E95 !important;
}

.text-regular {
    font-weight: normal;
}

.btn {
    display: inline-block;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.5rem 0.75rem;
    font-size: 1rem;
    line-height: 1.25;
    border-radius: 0.25rem;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-brand {
    color: #fff;
    background-color: #7952B3;
    border-color: #7952B3;
}

.btn-outline-brand {
    background: transparent;
    color: #7952B3;
    border-color: #7952B3;
}

.btn-brand:hover {
    color: #fff;
    text-decoration: none;
    background-color: #614092;
    border-color: #6a3381;
}

.btn.btn-sm {
    font-size: 12px;
    padding: 7.5px 18px;
}

a:hover,
a:focus,
a:visited {
    text-decoration: none;
    outline: none;
    outline-offset: 0;
}

h5,
.h5 {
    font-size: 18px;
}

p:last-child {
    margin-bottom: 0;
}

.order-1 {
    order: 1;
}

.order-2 {
    order: 2;
}

.order-3 {
    order: 3;
}

.dropdown-item.active,
.dropdown-item:active {
    background: #f5f6f9;
    color: #2C2C2C;
}

.border-bottom {
    border-bottom: 1px solid #E5E9EF;
}