.Footer {
    font-size: 13px;
    color: #59626D;
}

.FooterInner {
    border-top: 1px solid #D5DCE5;
    padding: 30px 0;
}

.FooterItem:not(:last-child) {
    border-bottom: 1px solid #D5DCE5;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.FooterItem button {
    padding: 10.5px 27px;
    font-size: 14px;
}

.FooterItem input {
    min-width: 250px;
    background: #EDF0F5;
    border-color: #EDF0F5;
    height: 40px;
    color: #272727;
    font-size: 14px;
}

.FooterItem input:focus {
    border-color: #ccd5e3;
    background: #EDF0F5;
    color: #495057;
    box-shadow: none;
}

.FooterNav {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.FooterNav li {
    padding-left: .75rem;
    padding-right: .75rem;
}

.FooterNav li:first-child {
    padding-left: 0;
}

.FooterNav li a {
    font-size: 13px;
    display: block;
    color: #59626D;
    padding: .5rem 0;
}

.FooterNav li a:hover {
    color: #424951;
}

.FooterFormGroup {
    margin-bottom: 1.5rem;
}